global
    user {{ haproxy_user }}
    group {{ haproxy_group }}
defaults
    mode http
    log global
    retries 2
    timeout connect 3000ms
    timeout server 5000ms
    timeout client 5000ms
frontend {{ frontend_name }}
    bind *:{{ haproxy_binding_port }}
    option tcplog
    mode tcp
    default_backend {{ backend_name }}
backend {{ backend_name }}
    mode tcp
    balance {{ balance_type }}
    option tcp-check
    default-server inter 10s downinter 5s
    {% for server in server_list %}
server {{ server.name }} {{ server.ip }}:{{ server.port }} check fall 3 rise 2
    {% endfor %}
